---
name: {{ name }}
description: "{{ one_line_description }}"
when_to_use: "{{ when_concat }}"
{% if allowed_tools %}allowed-tools: {{ allowed_tools }}
{% endif %}---

{% include "skill_body_partial" %}
